body {
    padding: 50px;
}
#list td {
    vertical-align: middle;
}
#list td .form-control[readonly] {
    background-color: #fff;
    cursor: text;
}
#list tr td:first-child, #list tr th:first-child {
    text-align: center;
}

.picker-wrapper {
    position: relative;
}
