@using PremierZal.Common.Models;

@model IEnumerable<Session>
@{
    ViewData["Title"] = "Список сеансов";
}

@section scripts {
    <script src="/lib/moment/min/moment.min.js"></script>
    <script src="/lib/moment/locale/ru.js"></script>
    <script src="/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/sessions.js"></script>
}

@section styles {
    <link rel="stylesheet" href="/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
}

<table class="table table-striped table-hover table-condensed" id="list">
    <colgroup>
        <col style="width: 50px;"/>
        <col style="width: auto"/>
        <col style="width: 170px;"/>
        <col style="width: 100px;" />
    </colgroup>
    <thead>
    <tr>
        <th>ИД</th>
        <th>Название</th>
        <th>Дата начала</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        @Html.Partial("_Row", item)
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4"><button class="btn btn-info btn-add">Добавить</button></td>
    </tr>
    </tfoot>
</table>